.area_form {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: calc(100vh - 100px);
    align-items: center;
}
.form_1 {
    background: var(--border);
    padding: 20px;
    border: 2px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.error-message {
    flex-grow: 1;
    text-align: center;
    color: #a90000;
}