.area-sb {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add_contact {
    background: #007bff;
    color: #fff;
    padding: 6px 8px;
    border-radius: 10px;
    display: flex;
    column-gap: 6px;
    cursor: pointer;
    text-wrap: nowrap;
}

.section_tb {
    display: flex;
    flex-grow: 0.7;
    min-height: 510px;
}

.container_1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: var(--container-bg);
    border: 2px solid var(--border);
    border-radius: 6px;
}

.container_small {
    height: 150px;
    width: 300px;
}

.container_medium {
    height: 250px;
    width: 300px;
}

.text_medium_1 {
    font-size: 20px;
    font-weight: 900;
}

.tb_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 10px;
    border-bottom: 2px solid var(--border);
    gap: 10px;
}

.tb_sorting {
    display: flex;
    gap: 10px;
}

.tb_row {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--border);
    padding: 8px 6px;
    cursor: pointer;
}

.tb_row > div {
    display: flex;
    justify-content: center;
    flex-basis: calc(100% / 5);
    box-sizing: border-box;
}

.row_main {
    background: #e9e9e9;
    cursor: default;
}

.weather_active {
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;
}

.area_form_2 {
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form_2 {
    background: var(--container-bg);
    border: 2px solid var(--border);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
    position: relative;
}

.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_close {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.import_label {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border: 2px solid;
    min-height: 60px;
}

.section_chart {
    display: flex;
    justify-content: center;
    width: 100%;
}
.container_chart {
    height: 200px;
    max-width: 1242px;
    margin: 0 20px;
}

@media (max-width: 1001px) {
    .area-sb {
        width: 100%;
        margin: 0 20px;
        flex-direction: row;
    }
    .container_medium {
        height: auto;
    }
    .section_tb {
        width: 100%;
        margin: 0 20px;
    }
}
@media (max-width: 601px) {
    .area-sb {
        flex-wrap: wrap;
    }
    .import_label {
        margin: 10px;
    }
    .section_tb {
        overflow-x: scroll;
    }
}