*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --bg: #e7e7e7;
    --container-bg: #f1f1f1;
    --border: #cecece;
}
body {
    font-family: sans-serif;
    background: var(--bg);
}
main {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1440px;
    margin: 20px auto;
}
a {
    text-decoration: none;
}

header {
    background: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--border);
    height: 60px;
}

button {
    border: initial;
    background: initial;
    display: inline-flex;
    align-items: flex-end;
    column-gap: 8px;
    font-size: 16px;
}

.header {
    display: flex;
    max-width: 1440px;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-evenly;
}

.button_1 {
    display: flex;
    align-items: center;
    column-gap: 6px;
    border: 1px solid var(--border);
    background: var(--container-bg);
    padding: 6px 12px;
    border-radius: 17px;
    cursor: pointer;
}

.button__submit{
    background: #007bff;
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.selected {
    background: #007bff;
    color: #fff;
    padding: 6px 16px;
    border-radius: 22px;
}

.flex_1 {
    display: flex;
    flex-direction: column;
}

.flex_2 {
    display: flex;
    gap: 15px;
}

.flex_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
